<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<link  href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link  href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
		<link  href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link  href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Cinzel:400,700,900|IM+Fell+Great+Primer+SC' rel='stylesheet' type='text/css'>
				<title>People of Distant Worlds - {{char.name}}</title>

		<style>
		body{
			font-family: 'Cinzel', serif;
			background-image: url('http://turnlol.com/images/2012/10/abstract-dark-wood-textures-backgrounds-1680x1050-hd-wallpaper.jpg');
		}

		.container {
			background-color: white;
		}
		

		footer{
				background-color: white;
				border-top: 1px solid black;
				
				text-align: center;
				display: block;
				width: 100%;
				position: fixed;
				bottom: 0px;
			}
		</style>
	</head>
	<body>
		<header>
			<div  class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<a class="brand" href="/">PoDW</a>
					<ul class="nav">
						<li><a href="http://tools.ofdistantworlds.com">Tools</a></li>
					</ul>
					<form class="navbar-form pull-left">
						<input type="text" class="span2">
						<button type="submit" class="btn"><i class="icon-search"></i></button>
					</form>
				</div>
			</div >
		</header>
		<div class="container">
			{% block content %}
				
			{% endblock content %}
		</div>
		<footer>&copy; 2013 MMo.IT</footer>
	</body>
</html>